body{
    margin: 0;
    height: min-content;
}

nav{
    display: flex;
    padding-left: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    height: 3em;
}

nav a{
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    color: #666666;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-decoration: none;
    padding-right: 1em;
    vertical-align: middle;
}

#HOMEIMG>img{
    margin: auto;
    height: 2.4em;
    vertical-align: middle;
    margin-right: 0.3em;
}

#HOMEIMG{
    height: fit-content;
}

#floatright{
    display: inline-block;
    height: 100%;
    margin-left: 60em;
    border: solid white;
    width: 25%;
}
#floatright a{
    padding: 0;
}
#floatright img{
    padding-top: 0.2em;
    height: 70%;
    margin-right: 0.3em;
    margin: auto;
    nav-right: current;
}
